<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Cart">
	
<!--
C_NO
F_EMAIL
P_NO
C_PRICE
C_CNT
C_IMAGE
C_NAME
C_ORDERYN
C_TOTALPRICE
  -->

	<select id="selectCartList" resultType="HashMap">
		select C_NO,F_EMAIL,C.P_NO,C_PRICE,C_CNT,C_IMAGE,C_NAME,C_ORDERYN,C_TOTALPRICE,P_CNT from tb_cart c inner join tb_product p on(c.p_no = p.p_no) where F_EMAIL = #{f_email} and C_ORDERYN = 'n'
	</select>
	
	
	<insert id="insertCart" parameterType="Map">
		insert into tb_cart values(c_no_seq.nextval,#{f_email},${p_no},${c_price},${c_cnt},#{c_image},#{c_name},'n',${c_totalprice})
	</insert>
	
	<update id="updateCart" parameterType="Map">
		update tb_cart set c_cnt = ${c_cnt}, c_totalprice = ${c_totalprice} where c_no = ${c_no} and C_ORDERYN = 'n'
	</update>
	
	<select id="selectCart" parameterType="Map" resultType="HashMap">
		select C_NO,F_EMAIL,P_NO,C_PRICE,C_CNT,C_IMAGE,C_NAME,C_ORDERYN,C_TOTALPRICE from tb_cart where C_NO = ${c_no} and C_ORDERYN = 'n'
	</select>
	
	<select id="selectSumPrice" resultType="_int">
		select sum(c_totalprice) from tb_cart where f_email = #{f_email} and C_ORDERYN = 'n'
	</select>
	
	<delete id="deleteCart" parameterType="Map">
		delete from tb_cart where c_no = #{c_no} and C_ORDERYN = 'n'

	</delete>
	
	<delete id="deleteCartAll" parameterType="Map">
		delete from tb_cart where f_email = #{f_email} and C_ORDERYN = 'n'
	</delete>
	
	<select id="selectCartYN" parameterType="Map"  resultType="HashMap">
		select C_NO,C_CNT,C_TOTALPRICE from tb_cart where C_NAME = #{c_name} and f_email = #{f_email} and C_ORDERYN = 'n'
	</select>
	
	<update id="updateOrderYN"  parameterType="Map">
		update tb_cart set c_orderyn = 'y' where c_no= #{c_no} and f_email = #{f_email}
	</update>
	
	<update id="updateProductCnt"  parameterType="Map">
		update tb_cart set c_cnt = #{new_cnt} where c_no = #{c_no} and C_ORDERYN = 'n'
	</update>
	
	
</mapper>


