<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Member">
	


	<select id="idCheck" resultType="_int">
		select count(f_email) from tb_member where f_email = #{f_email}
	</select>
	
	<insert id="insertMember" parameterType="Map">
		<if test="f_kakaotoken == 'no'">
			insert into tb_member values(#{f_email},#{f_password},#{f_name},#{f_birth},#{f_phone},#{f_postcode},#{f_roadaddress},#{f_jibernaddress},#{f_detailaddress},#{f_otheraddress},'basicphoto.png','N',#{f_nick},null)
		</if>
		<if test="f_kakaotoken != 'no'">
			insert into tb_member values(#{f_email},#{f_password},#{f_name},#{f_birth},#{f_phone},#{f_postcode},#{f_roadaddress},#{f_jibernaddress},#{f_detailaddress},#{f_otheraddress},'basicphoto.png','N',#{f_nick},#{f_kakaotoken})
		</if>
		
	</insert>
	
	<select id="selectLoginMember" parameterType="Map" resultType="HashMap">
		select f_email,f_password,f_name,f_birth,f_phone,f_postcode,f_roadaddress,f_jibernaddress,f_detailaddress,f_otheraddress,f_userpicture,f_leaveyn,f_nick from tb_member where f_email = #{f_email} and f_password = #{f_password} and f_leaveyn = 'N'
	</select>
	
	<select id="selectKaKaoLoginMember" parameterType="Map" resultType="HashMap">
		select f_email,f_password,f_name,f_birth,f_phone,f_postcode,f_roadaddress,f_jibernaddress,f_detailaddress,f_otheraddress,f_userpicture,f_leaveyn,f_nick from tb_member where f_email = #{f_email} and f_kakaotoken = #{f_kakaotoken} and f_leaveyn = 'N'
	</select>
	
	
	<update id="updateLeaveMember" parameterType="string">
		update tb_member set f_leaveyn = 'Y' where f_email = #{f_email}
	</update>
	
	<select id="selectFindEmailInfo" parameterType="Map" resultType="_int">
		select count(*) from tb_member where f_name = #{f_name} and f_birth = #{f_birth} and f_phone = #{f_phone}
	</select>
	
	<select id="selectFindUserEmail" parameterType="Map" resultType="string">
		select f_email from tb_member where f_name = #{f_name} and f_birth = #{f_birth} and f_phone = #{f_phone}
	</select>
	
	<select id="selectFindUserPasswordInfo" parameterType="Map" resultType="_int">
		select count(*) from tb_member where f_email = #{f_email} and f_name = #{f_name} and f_birth = #{f_birth}
	</select>


	<select id="selectFindUserPassword" parameterType="Map" resultType="string">
		select f_password from tb_member where f_name = #{f_name} and f_birth = #{f_birth} and f_email = #{f_email}
	</select>
	
	<update id="updateUserInfo" parameterType="Map">
		update tb_member set f_password = #{f_password}, f_nick = #{f_nick}, f_phone = #{f_phone}, f_postcode = #{f_postcode}, f_roadaddress = #{f_roadaddress}, f_jibernaddress = #{f_jibernaddress}, f_detailaddress = #{f_detailaddress}, f_otheraddress = #{f_otheraddress} , f_userpicture = #{f_userpicture} where f_email = #{f_email}
	</update>
	
	<insert id="insertQnA" parameterType="Map">
		insert into tb_qna values(q_no_seq.nextval,#{f_email},#{q_subject},#{q_content},'n')
	</insert>
</mapper>


