<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Product">
	
<!-- 
P_NO
P_NAME
P_CONTENT
P_PRICE
P_IMAGE
P_JOINDATE
P_CNT
P_ADDINFO 
P_STARSCORE
-->

	<select id="selectProductList" resultType="HashMap">
		select p_no,p_name,p_content,p_price,p_image,p_joindate,p_cnt,p_addinfo,p_starscore from tb_product
	</select>
	
	<select id="selectProductSortList" resultType="HashMap">
		select p_no,p_name,p_content,p_price,p_image,p_joindate,p_cnt,p_addinfo,p_starscore from tb_product order by ${orderby}
	</select>
	
	<select id="selectProductDetail" resultType="HashMap">
		select p_no,p_name,p_content,p_price,p_image,p_joindate,p_cnt,p_addinfo,p_starscore from tb_product where p_no = #{p_no}
	</select>
	
	<update id="updateProductInfo" parameterType="Map">
    	update tb_product set P_IMAGE = #{P_IMAGE}, P_NAME = #{P_NAME}, P_PRICE = #{P_PRICE}, P_CNT = #{P_CNT}, P_CONTENT = #{P_CONTENT}, P_ADDINFO = #{P_ADDINFO} where P_NO = #{P_NO}
    </update>

    <insert id="insertProductInfo" parameterType="Map">
    	insert into tb_product(P_NO, P_NAME, P_CONTENT, P_PRICE, P_IMAGE, P_JOINDATE, P_CNT, P_ADDINFO, P_STARSCORE) values
    	(P_NO_SEQ.nextval, #{P_NAME}, #{P_CONTENT}, #{P_PRICE}, #{P_IMAGE},sysdate, #{P_CNT}, #{P_ADDINFO}, 0)
    </insert>
	
	 <update id="updateProductCnt" parameterType="Map">
    	update tb_product set p_cnt = (p_cnt - ${o_count}) where p_no = #{p_no}
    </update>
    
    <select id="selectProductCnt" resultType="_int" parameterType="Map" >
    	select p_cnt from tb_product where p_no = #{p_no}
    </select>
    
    <update id="updateProductCntPlus" parameterType="Map">
    	update tb_product set p_cnt = (p_cnt + ${o_count}) where p_no = #{p_no}
    </update>
</mapper>


